.radio {
    display: flex;
    flex-direction: column;
    accent-color: #000;
    cursor: pointer;
}

.radio::before {
}


.radio:checked::before {
}

.label {
    display: flex;
    gap: 10px;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    cursor: pointer;
}

.options {

}
