.App {
    --header_height: 60px;
    font-weight: 600;
    font-size: 22px;
    color: #000;
    max-width: 1280px;
    margin: auto;
}

.hw {
    display: flex;
    flex-direction: column;
    border: 1px solid #d9d9d9;
    min-width: 100%;
    padding: 24px 70px 32px;
}

.hwTitle {
    padding: 47px 70px 10px;
}