.App {
    --header_height: 60px;
    padding-bottom: 50px;
}

.hw {
    display: flex;
    flex-direction: column;
    border: 1px solid #d9d9d9;
    border-right: none;
    border-left: none;
    min-height: 336px;
    padding: 24px 70px 32px;
}

.hwTitle {
    font-weight: 600;
    font-size: 22px;
    color: #000;
    padding: 47px 70px 10px;
}