.button {
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease,
    color 0.3s ease,
    width 0.3s ease;
}

.disabled {
    border-radius: 3px;
    padding: 5px 24px;
    width: 133px;
    height: 30px;

    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    color: #002e5c;
}

.secondary {
    border: 1px solid #06c;
    border-radius: 3px;
    padding: 5px 24px;
    width: 176px;
    height: 30px;

    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    color: #06c;
}

.default {
    border-radius: 3px;
    padding: 5px 24px;
    width: 132px;
    height: 30px;

    background-color: #06c;

    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    color: #fff;
}

.red {
    border-radius: 3px;
    padding: 5px 24px;
    width: 129px;
    height: 30px;

    background-color: #cc1439;

    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    color: #fff;
}

.default:hover {
    width: 167px;
    background-color: #0080ff;
}

.red:hover {
    width: 167px;
    background-color: #ff1a47;
}

.secondary:hover {
    width: 167px;
    background-color: #e5f0fa;
}


.default:active {
    width: 149px;
    background-color: #0059b2;
}

.secondary:active {
    width: 149px;
    background-color: #c9e5ff;
}

.red:active {
    width: 149px;
    background-color: #b21232;
}

.button:disabled {
    cursor: not-allowed;
    background-color: #004d99;
    opacity: 0.5;
}
